.checkContainer {
   height: 100vh;
}


.selectContainer{
   position: absolute;
   top: 30px;
   left: 150px;
}

.selectBox {
   width: 120px;
   height: 25px;
   background-color: rgba(217, 217, 217, 1);
   border-radius: 3px;
   padding: 5px;
}


.table {
   position: absolute;
   top: 70px;
   left: 150px;
   font-size: 25px;
   color: white;
   width: 80vw;
   text-align: center;
   border-spacing: 47px 7px;
}
.table thead::after {
   content: '';
   display: block;
   height: 1px;
   background: #fff;
   width: 100%;
   position: absolute;
   left: 0;
   margin: 10px 0;
 }

 .table tbody {
   position: relative;
   top: 20px;
 }

.table img {
   width: 130px;
   height: 70px;
}
.deleteButton,
.checkButton {
  padding: 5px 15px;
  border: none;
  border-radius: 5px;
  border: 1px solid #000;
  margin: 3px 7px;
  cursor: pointer;
  font-size: 16px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
}

.deleteButton {
  background-color: rgba(169, 0, 0, 1);
  color: #fff;

  &:hover {
    background-color: rgba(140, 0, 0, 1);
  }
}

.checkButton {
  background-color: rgba(238, 238, 238, 1);

  &:hover {
    background-color: rgba(210, 200, 200, 1);
  }
}

.pagination {
   display: flex;
   justify-content: center;
   align-items: center;
   margin: 20px;
   position: absolute;
   bottom: 0;
   left: 50%;
   transform: translateX(-50%);
 }
 
 .pagination button {
   border: none;
   color: white;
   padding: 5px 9px;
   cursor: pointer;
   border-radius: 5px;
   font-size: 16px;
 }
 .pagination button.activeButton  {
   background-color: white;
   color: rgba(71, 71, 71, 1);
 }