* {
  background-color: rgba(148, 148, 148, 1);
}

.cameraDetail {
  align-items: center;
  height: 100vh;
  background-color: rgba(148, 148, 148, 1);
}

.text {
  font-size: 20px;
  position: absolute;
  left: 100px;
  top: 20px;
  color: white;
}

.icon {
  color: rgba(180, 0, 0, 1);
  margin: 2px;
  height: 35px;
}

.camText {
  position: absolute;
  left: 30px;
  top: 2px;
  width: 150px;
  font-size: x-large;
}

.camera1 {
  position: absolute;
  top: 70px;
  left: 100px;
  width: 70vw;
  height: 80vh;
  background-color: rgba(217, 217, 217, 1);
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
}

.dargerContainer {
  position: absolute;
  top: 11vh;
  right: 1.4vw;
  color: white;
}

.dargerContainer p {
  font-size: xx-large;
}
.dargerList {
  color: white;
  font-size: 17px;
  overflow-y: auto;
  max-height: 80%;
  margin: 10px 0px;
}

.dargerList li {
  list-style: none;
  margin-bottom: 7px;
  font-size: 23px;
}

.checkB {
  background-color: #fff;
  width: 110px;
  height: 32px;
  border-radius: 7px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  display: block;
  margin: 0 auto;
  margin-top: 13px;
  font-weight: bolder;
  font-size: medium;

  &:hover {
    background-color: rgb(237, 237, 237);
  }
}

/* 경고창 */

.warningContainer {
  position: relative;
}

.openModalButton {
  background-color: transparent;
  border: none;
  color: blue; /* 버튼 텍스트 색상 */
  cursor: pointer;
  outline: none;
}

.warningModal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* 모달 뒷배경 투명도 */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* 모달 창이 위로 올라오도록 */
}

.warningModalContent {
  width: 370px;
  background-color: white;
  padding: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.warningXcontainer {
  position: absolute;
  top: 0px;
  right: 7px;
  background-color: white;
}

.warningXButton {
  border: none;
  font-size: 13px;
  cursor: pointer;
  background-color: white;
}

.warningIcon {
  width: 50px; /* 아이콘 크기 조절 */
  height: 50px;
  background-color: white;
}

.warning {
  font-size: 24px;
  font-weight: bold;
  background-color: white;
}

.warningText {
  margin-bottom: 10px;
  background-color: white;
}

.warningCloseButton {
  background-color: rgba(218, 218, 218, 1);
  width: 55px;
  padding: 3px;
  border-radius: 5px;
  &:hover {
    background-color: rgba(199, 199, 199, 1);
  }
}
