* {
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    text-decoration: none;
    box-sizing: border-box;

}

nav {
    position: absolute;
    height: 100%;
    width: 77px;
    overflow: hidden;
    transition: 0 20px 35px rgba(0, 0, 0, 0.1);
    background-color: rgba(148, 148, 148, 1);
}

li {
    padding: 5px;
}


a {
    position: relative;
    color: black;
    font-size: 14px;
    display: table;
    width: 300px;
    padding: 3px 0px ;
}

span {
    padding: 0px;
}
.icon {
    position: relative;
    width: 70px;
    height: 40px;
    top: 14px;
    text-align: center;
}

.nav-item {
    margin-left: 1px;
}

nav:hover{
    width: 200px;
    transition: all 0.5s ease;
}